.button {
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 0;
  background: transparent;
  border-radius: 5px;
}

.primary {
  background: rgb(46, 109, 164);
  color: white;
}

.danger {
  background: #d9534f;
  border-color: #d43f3a;
  color: white;
}
