.post:not(:last-child) {
  border-bottom: 1px solid gray;
}

.postHeader {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.postActions {
  float: right;
  margin-top: -5px;
}
